@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    text-decoration: none !important;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --font-size-18: 18px;
    --font-size-24: 20px;
    --font-size-24: 24px;
    --font-size-36: 36px;
    --font-size-48: 48px;
    --font-size-144: 144px;
    --font-size-20: 20px;
    --font-size-30: 30px;
    --font-size-32: 32px;
    --font-size-: px;
    --font-size-: px;
    --font-size-: px;
    --font-size-: px;
    --font-size-: px;
    /* color */
    --color-white: #ffffff;
    --color-purple: #9003E5;
    --color-yellow: #D2DA60;
    --color-dream-color: #8A3E74;
    --color-black: #000000;
}

.gap-45 {
    gap: 45px;
}

.background-color {
    background: var(--color-yellow);
}

.home-navbar:hover {
    text-shadow: 0 0 1px var(--color-purple);
}

.menubar {
    display: none;
}

.home-navbar {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-18);
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: var(--color-purple)
}

.home-navbar::after {
    content: '';
    position: absolute;
    background-color: var(--color-purple);
    width: 0%;
    transition: all 400ms linear;
    height: 2px;
    left: 50%;
    bottom: -10px;
}

.home-navbar:hover::after {
    width: 100%;
    bottom: -5px;
    transform: translateX(-50%);

}

.section1-backgroundimage {
    background-image: url(../images/png/section1-background-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 85vh;
    margin-top: 37px;
}

.splash-your {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-18);
    font-style: italic;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: var(--color-dream-color);
}

.bring-your {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-36);
    font-weight: 500;
    line-height: 54px;
    text-align: left;
    color: var(--color-black);
}

.colour-me {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-20);
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: transparent;
    background-clip: text;
    background: linear-gradient(90deg, #9104E5 0%, #F93B96 96.47%);
    -webkit-background-clip: text;
    padding: 13px 45px 13px 45px;
    border: 4px solid;
    border-image: linear-gradient(90.44deg, #9003E5 2.42%, #F93B95 99.69%) 1;
    transition: all 400ms linear;
}

.colour-me:hover {
    background: linear-gradient(90deg, #9104E5 0%, #F93B96 96.47%);
    color: var(--color-white);
}

.mt-15 {
    margin-top: 15px;
}

.mt-24 {
    margin-top: 24px;
}

.dot-1 {
    width: 10px;
    border-radius: 50px;
    height: 10px;
    background: linear-gradient(90deg, #F9AF0A 0%, #92AA61 85%);
}

.dot-2 {
    width: 10px;
    border-radius: 50px;
    height: 10px;
    background: linear-gradient(90deg, #1798BC 0%, #0185D3 90%);
}

.dot-3 {
    width: 10px;
    border-radius: 50px;
    height: 10px;
    background: linear-gradient(90deg, #7142A2 0%, #B31376 100%);
}

.gap-2 {
    gap: 2px;
}

.mt-115 {
    margin-top: 115px;
}

.mt-16 {
    margin-top: 16px;
}

.why-choose {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-48);
    font-weight: 700;
    line-height: 72px;
    text-align: left;
    color: var(--color-black);
}

.faux-finishes {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-24);
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    color: var(--color-black);
}

.mt-24 {
    margin-top: 24px;
}

.mt-54 {
    margin-top: 54px;
}

.mb-155 {
    margin-bottom: 155px;
}

.py-92 {
    padding-top: 92px;
    padding-bottom: 92px;
}

.section2-span-1 {
    border-left: 1px dotted var(--color-black);
    width: 1px;
    height: 100%;
    display: flex;
    top: 0%;
    left: 33.33%;
}

.section2-span-2 {
    border-right: 1px dotted var(--color-black);
    width: 1px;
    height: 100%;
    display: flex;
    top: 0%;
    right: 33.33%;
}

.section2-span-3 {
    border-bottom: 1px dotted var(--color-black);
    width: 100%;
    height: 1px;
    display: flex;
    top: 0%;
    top: 50%;
}

@media (max-width:768px) {
    .md-align-iteam-center {
        align-items: center;
    }

    .md-justify-center {
        justify-content: center;
    }

    .md-d-flex {
        display: flex;
    }

    .md-flex-column {
        flex-direction: column;
    }

    .bring-your {
        font-size: var(--font-size-30);
    }
}

@media (max-width:567px) {
    .bring-your {
        font-size: var(--font-size-18);
    }

    .why-choose {
        font-size: var(--font-size-32);
    }
}

@media (max-width:992px) {
    .menubar {
        width: 40px;
        height: 34px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        z-index: 100;
    }

    .menubar span {
        height: 5px;
        width: 100%;
        background: var(--color-purple);
        border-radius: 3px;
    }

    .navbar-iteams {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        left: -100%;
        justify-content: center;
        align-items: center;
        transition: all 300ms linear;
        z-index: 90;
        background-color: var(--color-yellow);
    }

    .show {
        left: 0;
    }

    .section2-span-1 {
        display: none;
    }

    .section2-span-2 {
        display: none;
    }

    .section2-span-3 {
        display: none;
    }
}